* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Prompt', sans-serif;
}

@media (max-width: 56.35em) {
  html {
    font-size: 50%;
  }
} 

.app {
    /* margin: 2rem 2rem; */
    border-radius: 1rem; 
    position: relative;
    height: 100vh;
    width: 100%;
}
@media (max-width: 37.5em) {
    .app {
      height: 100vh;
      flex-direction: column;
    }
}

nav {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 10rem;
  margin-bottom: 2rem;
}

@media (max-width: 450px) {
  nav {
    padding: 2rem 2rem;
  }
}
nav h1 {
  margin-right: auto;
  font-size: 2rem;
}

.backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 500;
  background-color: #3d38388d;
  backdrop-filter: blur(10px);
  transition: all .8s;
  /* display: none; */
}
.cells-container {
  width: 42rem;
  margin: auto;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  display: flex;
  height: 50vh;
  justify-content: space-around;
}
@media (max-width: 37.5em) {
  .cells-container {
    flex: 0 0 10%;
  }
}
.menu {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu p {
  padding: 1rem 1.5rem;
  background: #a5a1a1;
  font-size: 2rem;
  display: block;
  margin: 0 1rem;
  margin-top: 5rem;
  border-radius: 1rem;
}
@media (max-width: 37.5em) {
  .menu {
    flex: 0 0 10%;
    flex-direction: row;
    margin-bottom: 2rem;
  }
}
.cells {
  width: 22%;
  height: 8rem;
  transition: all .6s;
  perspective: 150rem;
  cursor: pointer;

  
}
@media (max-width: 700px) {
  .cells {
    height: 8rem;
  }
}

.cells:not(:last-child) {
  margin-bottom: 2rem;
}
.side {
  height: 100%;
  width: 100%;
  transition: all .5s;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50%;
}
.cells-front{
  background-image: url(./img/cell.jpg);
  background-size: cover;
  color: #ffffff;
  box-shadow: 5px;
}
.cells-back{
  background-color: #a5a1a1;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cells-back img{
  height: 4rem;
  width: 4rem;
}

.welcoming-page {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: 0 0 100%;
  color: #eaab24;
  font-size: 2rem;
  flex-wrap: wrap;
  transition: all .6s;
  border-radius: 10px;
}

.welcoming-page h1 {
  flex:  0 0 100%;
  text-align: center;
  letter-spacing: 10px;
}
.welcoming-pageBtn {
  padding: 1.5rem 2rem;
  background-color: #eaab24;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.welcoming-pageBtn:focus {
  outline: none;
}

.gameOverMessage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: -13rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 13rem;
  z-index: 1500;
  background-color: #ffffff;
  border-radius: 10px;
  color: #eaab24;
  transition: all .6s;
}
@media (max-width: 37.5em) {
  .gameOverMessage {
    width: 95%;
  }
}
.gameOverMessage h1 {
  flex:  0 0 100%;
  text-align: center;
  margin-top: 2rem;
}
@media (max-width: 25em) {
  .gameOverMessage h1 {
    font-size: 1.5rem;
  }
}

.gameOverMessage button {
  padding: .5rem 2rem;
  background-color: #eaab24;
  color: white;
  border: none;
  border-radius: 10px;
  height: 4rem;
  cursor: pointer;
}

.gameOverMessage button:focus {
  outline: none;
}

.gameWinMessage {
  width: 70%;
  height: 70%;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1600;
  background-color: #ebe8b7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: 0 0 100%;
  color: #eaab24;
  font-size: 2rem;
  flex-wrap: wrap;
  transition: all .6s;
  border-radius: 10px;
}

.gameWinMessage h1 {
  flex:  0 0 100%;
  text-align: center;
  margin-top: 2rem;
}

.gameWinMessage button {
  padding: .5rem 2rem;
  background-color: #eaab24;
  color: white;
  border: none;
  border-radius: 10px;
  height: 4rem;
  cursor: pointer;
}

.gameWinMessage button:focus {
  outline: none;
}
.tribute {
  color: #61a522;
  margin-left: 1rem;
  font-size: 1.1rem;
}
.tributeContainer {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.tributeContainer img:active {
  background-color: #61a522;
}
#newGame {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  background-color: #eaab24;
  color: white;
  cursor: pointer;
}

#newGame:focus {
  outline: none;
}
